%%html
<style>
.box_style0{
    height: auto;
    background-color:black;
    background-image: url('img/125611494287978_registered_tex.jpg');
    background-size: 100px;
}
.box_style1{
    height: auto;
    background-color:black;
    background-image: url('img/125611494690178_registered_tex.jpg');
    background-size: 100px;
}
.box_style2{
    height: auto;
    background-color:black;
    background-image: url('img/125611494277906_registered_tex.jpg');
    background-size: 100px;
}
.box_style3{
    height: auto;
    background-color:black;
    background-image: url('img/125611494878291_registered_tex.jpg');
    background-size: 100px;
}
.box_style4{
    height: auto;
    background-color:black;
    background-image: url('img/125611487366942_registered_tex.jpg');
    background-size: 100px;
}
.box_style5{
    height: auto;
    background-color:black;
    background-image: url('img/125611494278283_registered_tex.jpg');
    background-size: 100px;
}
.box_style6{
    height: auto;
    background-color:black;
    background-image: url('img/125611495138902_registered_tex.jpg');
    background-size: 100px;
}
.box_style7{
    height: auto;
    background-color:black;
    background-image: url('img/125611494541823_registered_tex.jpg');
    background-size: 100px;
}
.tdw_box_style0{
    height: auto;
    background-color:black;
    background-image: url('img/img_-1.0_0.8_3.9_210_abandoned_factory.png');
    background-size: 200px;
}
.tdw_box_style1{
    height: auto;
    background-color:black;
    background-image: url('img/img_-0.8_0.4_-4.0_30_iceland_beach.png');
    background-size: 200px;
}
.tdw_box_style2{
    height: auto;
    background-color:black;
    background-image: url('img/img_-0.7_0.4_-1.5_90_suburb_scene_2018.png');
    background-size: 200px;
}
.tdw_box_style3{
    height: auto;
    background-color:black;
    background-image: url('img/img_-0.1_0.6_3.2_240_tdw_room.png');
    background-size: 200px;
}
</style>